meta(property='og:title', content='Flappy Royale')
meta(property='og:description', content='A last-one-flapping battle royale. Can you stay alive\
longer than 99 opponents?')
meta(property='og:type', content='website')
meta(property='og:url', content='https://flappyroyale.io/')
meta(property='og:image', content='./assets/og-preview.png')
meta(property='og:image:type', content='image/png')
meta(name='twitter:card', content='summary')
meta(name='twitter:title', content='Flappy Royale')
meta(name='twitter:description', content='A last-one-flapping battle royale. Can you stay alive\
longer than 99 opponents?')
meta(name='twitter:image', content='./assets/og-preview.png')
meta(name='viewport', content='width=840')
link(rel='stylesheet', href='./site.scss', type='text/css')
