#sky
  h1 Flappy Royale
  nav
    // <a class="disabled" href="#">App Store</a>
    center
      a.disabled iOS Beta
      a.disabled Android Beta
      a(style='margin-top:4px;', href='/demo/') Web Demo
  #clouds
  #city
  #trees
