#sky
  h1 Flappy Royale
  nav
    a(href="https://itunes.apple.com/us/app/flappyroyale/id1469168509") iOS
    a(href="/web-demo") Android
    a(id='show-demo' href='/#show-demo') Web Demo
    br
    a(href='./news.pug') News
    a(href='https://twitter.com/flappyroyale') Twitter
    a(href='https://discord.gg/K533wJm') Discord

  #clouds
  #city
  #trees
