#sky
  h1 Flappy Royale
  nav
    a(href="https://itunes.apple.com/us/app/flappyroyale/id1469168509") iOS
    a(href="https://play.google.com/store/apps/details?id=com.lazerwalker.flappyroyale") Android
    a(href='/#show-demo') Web Demo
    br
    a(href='./news.pug') News

  #clouds
  #city
  #trees
