<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533580149860-rp7cj3bardcjctnrj5p97hmhhjco0oma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533580149860-rp7cj3bardcjctnrj5p97hmhhjco0oma</string>
	<key>API_KEY</key>
	<string>AIzaSyCyKjcsklAwUuPMUkhTNT4UfXn8PPHOzTA</string>
	<key>GCM_SENDER_ID</key>
	<string>533580149860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lazerwalker.Flappy</string>
	<key>PROJECT_ID</key>
	<string>flappy-royale-3377a</string>
	<key>STORAGE_BUCKET</key>
	<string>flappy-royale-3377a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533580149860:ios:345c660556b4c901</string>
	<key>DATABASE_URL</key>
	<string>https://flappy-royale-3377a.firebaseio.com</string>
</dict>
</plist>