<!DOCTYPE html>
<% if (htmlWebpackPlugin.options.production) { %>
    <html manifest="manifest.appcache">
<% } else { %>
    <html>
<% } %>
    <head>
        <meta charset="UTF-8" />
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <div style="font-family:Fipps; position:absolute; left:-1000px; visibility:hidden;">.</div>
    </body>
</html>
