head
  include includes/head.pug

#ground

#underground

    div(style='width: 300px; margin:  0 auto;')
      h2 About the devs
      div.large
        p
          strong Orta
          |  is an engineer with a 
          a(href='https://open.nytimes.com/five-questions-with-orta-therox-d5bb9659c50b') long experience
          |  in the Open Source world, having built many tools used by the iOS and JavaScript
          | developer communities.
        p
          | Today he works on the 
          a(href='https://artsy.github.io/blog/2019/04/05/omakase-typescript/') TypeScript programming language 
          | at Microsoft. That&apos;s the language this game is created with.


        p
          strong Em
          |  make experimental games, interactive art, and software tools.
        p
          | Her installations, artgames, and research projects have been featured in places such as
          | NPR&apos;s All Things Considered, the Venice Biennale, and the Smithsonian American Art
          | Museum.

